.vs
DabirKhaneh.Common/bin
DabirKhaneh.Common/obj
Dabirkhaneh.Data/bin
Dabirkhaneh.Data/obj
DabirKhaneh.Presentation/bin
DabirKhaneh.Presentation/obj
DabirKhaneh.Repo/bin
DabirKhaneh.Repo/obj
DabirKhaneh.Services/bin
DabirKhaneh.Services/obj